[Unit]
Description=Radarr Daemon
After=syslog.target network.target

[Service]
User={{user}}
Group={{group}}
Type=simple
ExecStart={{mono}} --debug {{radarr}} -nobrowser
ExecStopPost=/usr/bin/killall -9 mono
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
